<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mauroartz</title>

      <!--LETRAS QUE USAMOS-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@700&display=swap" rel="stylesheet">
  
</head>
<body class="backgroundColorGrey">
    <header class="header">
        <nav class="headerNav">
       
            <ul>
                <li>
                    <a href="../index.html">
                        <img src="../img/mauroartz-logo-cut.png" alt="mauroartz-logotipo">
                     </a>
                </li>
                <li><a class="header-nav-anchors" href="../index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contacts.html">Contacts</a></li>
                        
            </ul>
          </nav>
    
    </header>
    <main>
       <div>
        <section>
            <article>
                <p class="letraDeSecciones">ABOUT</p>
            </article>
        </section>
       </div>
    
            <div>
                <p class="letraDeParrafos">Multimedia designer graduated from Escuela Da Vinci. I'm part of the edition team as VFX supervisor and CGI artist in Gran Berta and Bani VFX.</p>
            </div>
    </main>
    <footer>
        <p class="copyright">Copyright 2022 Mauroartz</p> 
    </footer>
</body>
</html>