<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mauroartz</title>
  <!--LETRAS QUE USAMOS-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@700&display=swap" rel="stylesheet">

</head>
    <body class="backgroundColorGrey">
        <header class="header">
            <nav class="headerNav">
            <ul>
                <li>
                    <a href="../index.html">
                        <img src="../img/mauroartz-logo-cut.png" alt="mauroartz-logotipo">
                     </a>
                </li>
                <li><a class="header-nav-anchors" href="../index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contacts.html">Contacts</a></li>
                        
            </ul>
            </nav>
    
    </header>
    <main>
        <div>
            <section>
                <article>
                    <h1 class="letraDeSecciones">CONTACTS</h1>
                </article>
            </section>
        </div>

        <aside>
            <form class="formulario">
                <div class="h3">
                    <h3>FORM</h3>
                </div>
                
                <input type="Name" name="Name and surname" placeholder="Name and surname">
                <input type="email" name="email" placeholder="Mail">
                <textarea name="text" cols="150" rows="1" placeholder="Subject"></textarea>
                <textarea name="text" cols="150" rows="10" placeholder="Message"></textarea>
                <input type="submit" value="SEND" class="send">
            </form>
        </aside>

  

  
        <section>
            <div class="h3">
                <h3>GET IN TOUCH</h3>
            </div>
           <a href="http://www.hello@mauroartz.com" class="mail" target="_blank"> hello@mauroartz.com</a>
        </section>
       

    <div class="p">
        <p>SOCIALS</p>
    </div>
        
            <div>
                <ul class="redes">
                    <li><a href="https://www.linkedin.com/in/mauroartz/" target="_blank"> LINKEDIN</a></li>
                    <li><a href="https://wwww.instagram.com/mauroartz/" target="_blank"> INSTAGRAM</a></li>
                    <li><a href="https://www.instagram.com/mauroart/" target="_blank"> TWITTER</a></li>
                </ul> 
            </div>

    </main>
    <footer>
        <p class="copyright">Copyright 2022 Mauroartz</p> 
    </footer>
</body>
</html>