<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mauroartz</title>
  <!--LETRAS QUE USAMOS-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@700&display=swap" rel="stylesheet">


</head>
<body class="backgroundColorGrey">
    <header class="header">
        <nav class="headerNav">
        
            <ul>
                <li>
                    <a href="../index.html">
                        <img src="../img/mauroartz-logo-cut.png" alt="mauroartz-logotipo">
                     </a>
                </li>
                <li><a class="header-nav-anchors" href="../index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contacts.html">Contacts</a></li>
                        
            </ul>
          
        </nav>
    </header>
    <main>
        <div>
            <section>
               
                    <h1 class="letraDeSecciones">PROJECTS</h1>
                   
            </section>
        
        </div>
    <div class="caja-contenedora">
        <div class="caja-hija">
            <h1 class="letraDeParrafos">3D</h1>
        </div>
    </div>

    <div class="grid-container">
       <div class="grid-item"><img src="../img/character1.jpg" alt="character 1"></div> 
        <img src="../img/character2.jpg " alt="character 2">
        <img src="../img/character3.jpg" alt="character 3">
        <img src="../img/soulz004.png " alt="character 4">
        <img src="../img/soulz005.png" alt="character 5">
        <img src="../img/soulz006.png " alt="character 6">
    </div>
   
    
</main>
<footer>
    <p class="copyright">Copyright 2022 Mauroartz</p> 
</footer>
</body>
</html>